* {
  font-family: 'Spartan', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
html {
  scroll-behavior: smooth;
}

:root {
  scroll-behavior: smooth;
  font-size: 16px;

  --black: hsl(225, 13%, 12%);

  --grey-dark: hsl(225, 6%, 40%);
  --grey-mid: hsl(223, 7%, 53%);

  --grey: hsl(225, 17%, 82%);
  --grey-light: hsl(230, 21%, 95%);

  --error: hsl(0, 68%, 61%);

  --watermark: 12.5rem;
  --watermark-lh: 200px;
  --watermark-ls: -5px;

  --h1: 5rem;
  --h1-lh: 80px;
  --h1-ls: -2px;

  --h2: 3.5rem;
  --h2-lh: 56px;
  --h2-ls: -2px;

  --h3: 1.125rem;
  --h3-lh: 25px;

  --body: 0.938rem;
  --body-lh: 25px;

  --max-width: 1100px;
}

h1 {
  font-size: var(--h1);
  line-height: var(--h1-lh);
  letter-spacing: var(--h1-ls);
}

h2 {
  font-size: var(--h2);
  line-height: var(--h2-lh);
  letter-spacing: var(--h2-ls);
}

h3 {
  font-size: var(--h3);
  line-height: var(--h3-lh);
}

.watermark {
  font-size: var(--watermark);
  line-height: var(--watermark-lh);
  letter-spacing: var(--watermark-ls);
}

.body {
  font-size: var(--body);
  line-height: var(--body-lh);
  font-weight: 500;
}

.focus-w:focus-visible {
  outline: var(--grey-light) dotted 2px;
}

.focus-b:focus-visible {
  outline: var(--black) dotted 2px;
}

.portfolio-card {
  position: relative;
  min-width: 0;
}

.portfolio-card::before {
  position: absolute;
  content: '';
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 60%) 100%);
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
}

.portfolio-card__watermark {
  position: absolute;
  color: hsla(0, 0%, 100%, 0.5);
  font-weight: 700;
  right: -12px;
  top: 32px;
}

.portfolio-card__footer {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.portfolio-card__title,
.portfolio-card__subtitle {
  color: #fff;
}

.portfolio-card__subtitle {
  margin-top: 4px;
}

.portfolio-card__subtitle:not(a) {
  opacity: 0.75;
}

.portfolio-card__img {
  display: block;
  object-fit: cover;
  height: 560px;
  width: 100%;
}

@media (max-width: 1150px) {
  :root {
    --watermark: 7.5rem;
    --watermark-ls: -3px;
  }
}

@media (max-width: 1100px) {
  .portfolio-card {
    width: 100%;
  }

  .portfolio-card::before {
    height: 100%;
  }

  .portfolio-card__watermark {
    font-size: 12.5rem;
    right: 16px;
    top: 16px;
  }

  .portfolio-card__img {
    height: 240px;
  }

  #image-del-sol {
    content: url('/assets/portfolio/tablet/image-del-sol.jpg');
  }

  #image-228b {
    content: url('/assets/portfolio/tablet/image-228b.jpg');
  }

  #image-prototype {
    content: url('/assets/portfolio/tablet/image-prototype.jpg');
  }

  #image-seraph {
    content: url('/assets/portfolio/tablet/image-seraph.jpg');
  }

  #image-eebox {
    content: url('/assets/portfolio/tablet/image-eebox.jpg');
  }

  #image-federal {
    content: url('/assets/portfolio/tablet/image-federal.jpg');
  }

  #image-grand {
    content: url('/assets/portfolio/tablet/image-edelweiss.jpg');
  }

  #image-netcry {
    content: url('/assets/portfolio/tablet/image-netcry.jpg');
  }

  #image-hypers {
    content: url('/assets/portfolio/tablet/image-hypers.jpg');
  }

  #image-sxiv {
    content: url('/assets/portfolio/tablet/image-sxiv.jpg');
  }

  #image-trinity {
    content: url('/assets/portfolio/tablet/image-trinity.jpg');
  }

  #image-paramour {
    content: url('/assets/portfolio/tablet/image-paramour.jpg');
  }
}

@media (max-width: 650px) {
  :root {
    --h1: 3rem;
    --h1-lh: 48px;
    --h1-ls: -1.2px;

    --h2: 2.5rem;
    --h2-lh: 48px;
    --h2-ls: -1.5px;
  }

  .portfolio-card__watermark {
    display: none;
  }

  #image-del-sol {
    content: url('/assets/portfolio/mobile/image-del-sol.jpg');
  }

  #image-228b {
    content: url('/assets/portfolio/mobile/image-228b.jpg');
  }

  #image-prototype {
    content: url('/assets/portfolio/mobile/image-prototype.jpg');
  }

  #image-seraph {
    content: url('/assets/portfolio/mobile/image-seraph.jpg');
  }

  #image-eebox {
    content: url('/assets/portfolio/mobile/image-eebox.jpg');
  }

  #image-federal {
    content: url('/assets/portfolio/mobile/image-federal.jpg');
  }

  #image-grand {
    content: url('/assets/portfolio/mobile/image-edelweiss.jpg');
  }

  #image-netcry {
    content: url('/assets/portfolio/mobile/image-netcry.jpg');
  }

  #image-hypers {
    content: url('/assets/portfolio/mobile/image-hypers.jpg');
  }

  #image-sxiv {
    content: url('/assets/portfolio/mobile/image-sxiv.jpg');
  }

  #image-trinity {
    content: url('/assets/portfolio/mobile/image-trinity.jpg');
  }

  #image-paramour {
    content: url('/assets/portfolio/mobile/image-paramour.jpg');
  }
}
