button,
.btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn {
  color: #fff;
  background-color: var(--black);
  font-size: var(--body);
  line-height: var(--body-lh);
  font-weight: 700;
  padding: 24px 32px;
}

.btn:hover {
  background-color: var(--grey-dark);
}
