.footer__container {
  display: flex;
  justify-content: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

.footer__logo-container {
  background-color: var(--black);
  padding: 80px 52px;
}

.footer__links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0 64px 85px;
  background: linear-gradient(90deg, var(--grey-light) 87%, #fff 13%);
  flex-grow: 1;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
}

.footer__link {
  transition: 0.2s ease-in-out;
  color: var(--grey-mid);
  font-weight: 700;
}

.footer__link:hover {
  color: var(--black);
}

@media (max-width: 1150px) {
  .footer__logo {
    max-width: 58px;
    width: 100%;
  }

  .footer__logo-container {
    padding: 50px 30px;
  }

  .footer__links-container {
    background: linear-gradient(90deg, var(--grey-light) 75%, #fff 25%);
    padding: 24px 0 24px 40px;
  }

  .footer__container {
    max-width: none;
  }
}

@media (max-width: 800px) {
  .footer__container,
  .footer__links-container {
    flex-direction: column;
    align-items: center;
  }

  .footer__links-container {
    background: none;
    width: 100%;
    padding: 0 32px 48px 32px;
  }

  .footer__links {
    flex-direction: column;
    margin: 32px 0;
    gap: 32px;
  }

  .footer__container {
    background: linear-gradient(180deg, #fff 60px, var(--grey-light) 60px);
  }
}
