.header {
  padding: 0 100px;
}

.header__container {
  position: relative;
  max-width: var(--max-width);
  padding: 180px 0 180px 190px;
  max-height: 720px;
  margin: 0 auto;
}

#header__container-01 {
  background-image: url('/assets/home/desktop/image-hero-paramour.jpg');
}

#header__container-02 {
  background-image: url('/assets/home/desktop/image-hero-seraph.jpg');
}

#header__container-03 {
  background-image: url('/assets/home/desktop/image-hero-federal.jpg');
}

#header__container-04 {
  background-image: url('/assets/home/desktop/image-hero-trinity.jpg');
}

.header__container::before {
  position: absolute;
  content: '';
  pointer-events: none;
  background-color: hsla(0, 0%, 0%, 0.35);
  height: 100%;
  width: 100%;
  z-index: 0;
  left: 0;
  top: 0;
}

.header__content-container {
  position: relative;
  z-index: 1;
}

.header__title,
.header__subtitle {
  color: #fff;
}

.header__title {
  max-width: 540px;
}

.header__subtitle {
  margin: 14px 0 40px 0;
  max-width: 445px;
}

.header__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header__btn img {
  max-height: 18px;
}

.header__btns-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: -80px;
  bottom: 0;
}

.header__next-btn {
  transition: 0.2s ease-in-out;
  background-color: #fff;
  color: var(--grey-mid);
  font-weight: 700;
  height: 80px;
  width: 80px;
}

.header__next-btn--active {
  background-color: var(--black);
  color: #fff;
}

.header__next-btn:hover:not(.header__next-btn--active) {
  background-color: var(--grey-light);
}

.welcome {
  padding: 200px 100px;
}

.welcome__container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
}

.welcome__watermark {
  position: absolute;
  color: var(--grey-light);
  top: -100px;
  left: 0;
}

.welcome__img {
  margin-left: 125px;
}

.welcome__text-container {
  max-width: 445px;
}

.welcome__title {
  color: var(--black);
  margin-bottom: 56px;
}

.welcome__lead {
  color: var(--grey-dark);
}

@media (max-width: 1150px) {
  .welcome {
    overflow-x: hidden;
    padding-top: 250px;
  }

  .welcome__container {
    justify-content: flex-start;
  }

  .welcome__watermark {
    top: -175px;
  }

  .welcome__text-container {
    max-width: none;
  }

  .welcome__title {
    max-width: 445px;
  }

  .welcome__img {
    display: none;
  }
}

@media (max-width: 1100px) {
  #header__container-01 {
    background: no-repeat url('/assets/home/tablet/image-hero-paramour.jpg');
    background-size: cover;
  }

  #header__container-02 {
    background: no-repeat url('/assets/home/tablet/image-hero-seraph.jpg');
    background-size: cover;
  }

  #header__container-03 {
    background: no-repeat url('/assets/home/tablet/image-hero-federal.jpg');
    background-size: cover;
  }

  #header__container-04 {
    background: no-repeat url('/assets/home/tablet/image-hero-trinity.jpg');
    background-size: cover;
  }

  .header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 180px 58px;
  }

  .header__btns-container {
    display: none;
  }
}

@media (max-width: 650px) {
  #header__container-01 {
    background: no-repeat url('/assets/home/mobile/image-hero-paramour.jpg');
    background-size: cover;
  }

  #header__container-02 {
    background: no-repeat url('/assets/home/mobile/image-hero-seraph.jpg');
    background-size: cover;
  }

  #header__container-03 {
    background: no-repeat url('/assets/home/mobile/image-hero-federal.jpg');
    background-size: cover;
  }

  #header__container-04 {
    background: no-repeat url('/assets/home/mobile/image-hero-trinity.jpg');
    background-size: cover;
  }

  .header {
    padding: 0;
  }

  .header__container {
    padding: 110px 32px;
  }

  .header__subtitle {
    margin: 16px 0 58px 0;
  }

  .welcome__title {
    margin-bottom: 32px;
    max-width: 311px;
  }

  .welcome {
    padding: 140px 32px 100px 32px;
  }

  .welcome__watermark {
    display: none;
  }
}
